@import './include-media';

body {
  margin: 0;
  background: $color-primary;
  font-family: $font-primary;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  @include media('>tablet') {
    padding: 0 20px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  @include media('>=tablet') {
    flex-direction: row;
  }
}

.col-8 {
  @include media('>=tablet') {
    flex: 0 0 66.66%;
  }
}

.col-4 {
  @include media('>=tablet') {
    flex: 0 0 33.33%;
  }
}